<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<title>Añadir Los Productos</title>

</head>

<body>

	<nav th:replace="fragmentos/header_loader"></nav>

	<div>
		<div>
			<h3>Añadir los productos:</h3>
			<div>
				<div>
					<div></div>

					<form th:object="${products}" method="post">
						<div>

							<div>
								<label for="titulo">Título : </label> <input type="text"
									th:field="*{titulo}" name="titulo"
									placeholder="titulo" minlength="5" maxlength="40" required>
							</div>


							<div>
								<label for="descripcion"> Descripción : </label> <input
									type="text" th:field="*{descripcion}"
									name="descripcion"
									placeholder="Escribe la descripción del producto" minlength="5"
									maxlength="250" required>
							</div>


							<div>
								<label for="codProducto"> Código de Producto : </label> <input
									type="number" th:field="*{codProducto}"
									name="codProducto" placeholder="Escribe el código de Producto"
									min="1" required>
							</div>

							<div>
								<label for="precio" step="0.01"> Precio : </label> <input
									type="number" step="0.01" th:field="*{precio}"
									name="precio" placeholder="Escribe el precio del producto"
									min="0.01" required>
							</div>

							<div>
								<label for="descuento"> Descuento : </label> <input
									type="number" th:field="*{descuento}"
									name="descuento" step="0.01"
									placeholder="Escribe si quiere aplicar el descuento">
							</div>

							<div>
								<label for="stock"> Stock : </label> <input type="number"
									th:field="*{stock}" name="stock"
									placeholder="Escribe la cantidad de Stock" min="1" required>
							</div>

							<div>
								<button type="submit">Añadir</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>

</html>