<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Producto rebajado</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>

<body>
	<nav th:replace="fragmentos/header_loader"></nav>
	<br />
	<br />

	<div>
		<h1>Producto rebajado:</h1>
		<br /> <br />
		<div>
			<div th:each="producto, stats: ${productoPage.content}">
				<div>
					<div style="width: 20rem;">
						<div
							th:if="${not #lists.isEmpty(producto.imagen)}">

							<div th:each="imagen, istat : ${producto.imagen}">
								<div th:if="${istat.index == 0}">
									<img
										th:src="@{/ImagenProducto/imagen/{idProducto}/{idImagen}(idProducto=${producto.idProducto}, idImagen=${imagen.idImagen})}"
										style="height: 250px" />
								</div>
							</div>
						</div>

						<div th:if="${#lists.isEmpty(producto.imagen)}">
							<img th:src="@{/imagen/productoSinFoto.png}"
								style="height: 250px" />
						</div>

						<hr />

						<div>
							<p style="display: none;"
								th:text="${producto.idProducto}"></p>
							<h5>
								<a
									th:href="@{/Producto/perfil-producto/{idProducto}(idProducto=${producto.idProducto})}">
									<label for="titulo">Descuento: </label> <span
									th:text="${producto.titulo}"></span>
								</a>
							</h5>

							<div>
								<div>
									<span>Precio :</span>

									<p th:text="${producto.precio} + '&euro;'"></p>
								</div>

								<div>
									<span>Descuento :</span>
									<p th:text="${producto.descuento} + '%'">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<br />
		<nav aria-label="..." th:if="${productoPage.totalPages > 0}">
			<ul>
				<li th:each="pageNumber : ${pageNumbers}"><a
					
					th:href="@{/index(size=${productoPage.size}, page=${pageNumber})}"
					th:text=${pageNumber}></a></li>

			</ul>
		</nav>
		<br/>
	</div>
</body>
</html>




