<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<link
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<nav sec:authorize="isAnonymous()"
		th:replace="fragmentos/header_public"></nav>
	<nav
		sec:authorize="hasAuthority('ROL_Usuario') && !hasAuthority('ROL_ADMIN')"
		th:replace="fragmentos/header_user"></nav>
	<nav sec:authorize="hasAuthority('ROL_ADMIN')"
		th:replace="fragmentos/header_admin"></nav>


</body>
</html>